<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}{% endblock %}
  {% block head_css %}{% endblock %}

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'images/logoSISNAT_circle.png' %}" type="image/x-icon">
  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/relatorio.css' %}">
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  {% block body %}{% endblock %}
  {% block body_js %}{% endblock %}
</body>

</html>