{% extends "base_bootstrap.html" %}

{% block title %}SISNAT{% endblock %}

{% block head_css %}
    <link rel="stylesheet" href="../../static/css/style.css">
{% endblock %}

{% block body %}
    <div class="container">
        <header class="row">
            <div class="col-8 d-flex justify-content-start mt-3">
                <a href="/">
                    <img src="../../static/images/logoSISNAT_circle.png" alt="SISNAT LOGO" width="80" height="80"
                        class="logoSISNAT">
                </a>
                <h2 class="d-flex justify-content-center titulo-h2">SISNAT</h2>
            </div>
            <div class="col-4 d-flex justify-content-end mt-3">
                <img class="logoIPEVS" src="../../static/images/logoIPEVS.jpg" alt="IPEVS logo" width="" height="100">
            </div>
        </header>

        <section class="section-flex row">
            <div class="col-10">
                <div class="row d-flex align-items-center banner-content h-100">
                    <h1 class="">Sisnat</h1>
                    <h6 class="col-10 h6-col">
                        O Instituto de Pesquisa em Vida Selvagem e Meio Ambiente – IPEVS,
                        é uma Organização da Sociedade Civil de Interesse Público,
                        com autonomia administrativa e financeira, sem fins lucrativos.<br />

                        O IPEVS, tem por objetivo desenvolver e executar projetos nas áreas
                        de Educação, Educação Ambiental, Cultura,
                        Meio Ambiente, Tecnologia Ambiental, Medicina Veterinária,
                        Biologia, Transporte e Manejo de animais selvagens e
                        conservação da Fauna e Flora.
                    </h6>
                    <div class="d-flex align-items-center mt-4 mb-4">
                        <a href="/sisnat/" class="btn-outline-primary-green " target="_self">
                            Entrar Agora
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-2">
            </div>
        </section>
    </div>
    <div class="footer container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="text-muted copyright">&copy; 2022 Sisnat, Inc</span>
            </div>

            <ul class="nav col-md-4 justify-content-end d-flex">
                <img src="../../static/images/logo-uenp.png" alt="UENP logo" width="" height="80" class="logoUENP">
                <span class="span-margin"></span>
                <img src="../../static/images/cct.png" alt="CCT logo" width="" height="70" class="logoCCT">
            </ul>
        </footer>
    </div>
{% endblock %}