{% extends "base_bootstrap.html" %}

{% block title %}Relatórios de Controle{% endblock %}

{% block body %}

<div class="A4">
    <div class="container">
        <ul class="list-group">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <img src="../../../static/images/logoSISNAT_circle.png" alt="SISNAT LOGO" width="60" height="60" class="">
                    <h1 class="titulo-h1 d-flex justify-content-center">Relatório dos Animais</h1>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <h4>Gerado em: {{ generated_at }}</h4>
                </div>
            </div>
            {% for animal in animals %}
                <div class="div-for">
                    <div class="row">
                        <li class="list-group-item disabled col-12" aria-disabled="true">
                            <h2>
                                Código do animal: {{ animal.codigo_interno }}
                            </h2>
                        </li>
                        <!-- <li class="list-group-item disabled col-12" aria-disabled="true">
                            ID do animal: {{ animal.id }}
                        </li> -->
                        <li class="list-group-item disabled col-12" aria-disabled="true"></li>
                    </div>
                    <div class="row">
                        <li class="list-group-item disabled col-3" aria-disabled="true">
                            Grupo: {{ animal.especie.classe }}
                        </li>
                        <li class="list-group-item disabled col-5" aria-disabled="true">
                            Nome Científico: {{ animal.especie.nome_cientifico }}
                        </li>
                        <li class="list-group-item disabled col-4" aria-disabled="true">
                            Nome Popular: {{ animal.especie.nome_popular }}
                        </li>
                        <li class="list-group-item disabled col-12" aria-disabled="true"></li>
                    </div>
                    <div class="row">
                        <li class="list-group-item disabled col-4" aria-disabled="true">
                            Entrada: {{ animal.data_entrada}}
                        </li>
                        <li class="list-group-item disabled col-5" aria-disabled="true">
                            Nascimento: {{ animal.data_nascimento }}
                        </li>
                        <li class="list-group-item disabled col-3" aria-disabled="true">
                            Sexo: {{ animal.sexo }}
                        </li>
                        <li class="list-group-item disabled col-4" aria-disabled="true">
                            Faixa etária: {{ animal.faixa_etaria }}
                        </li>
                        <li class="list-group-item disabled col-3" aria-disabled="true">
                            Condição Física: {{ animal.condicao_fisica }}
                        </li>
                        <li class="list-group-item disabled col-5" aria-disabled="true">
                            Status: {{ animal.status.status }}
                        </li>
                        <li class="list-group-item disabled col-5" aria-disabled="true">
                            Data de Saída: {{ animal.status.data_saida }}
                        </li>
                        <li class="list-group-item disabled col-7" aria-disabled="true">
                            Observação: {{ animal.status.observacao }}
                        </li>
                        <li class="list-group-item disabled col-12" aria-disabled="true"></li>
                    </div>
                    <div class="row">
                        {% for alimentacao in animal.alimentacao %}
                            <li class="list-group-item disabled col-5" aria-disabled="true">
                                Data alimentação: {{ alimentacao.data_alimentacao }}
                            </li>
                            <li class="list-group-item disabled col-3" aria-disabled="true">
                                Quantidade: {{ alimentacao.quantidade }} {{ alimentacao.unidade_de_medida }}
                            </li>
                            <li class="list-group-item disabled col-4" aria-disabled="true">
                                Alimento: {{ alimentacao.alimento }}
                            </li>
                            <li class="list-group-item disabled col-12" aria-disabled="true">
                                Sobra: {{ alimentacao.sobra }}
                            </li>
                            <li class="list-group-item disabled col-12" aria-disabled="true"></li>
                        {% endfor %}
                    </div>
                    <div class="row">
                        {% for ficha in animal.fichas_clinicas %}
                            <li class="list-group-item disabled col-5" aria-disabled="true">
                                Data procedimento: {{ ficha.data_procedimento }}
                            </li>
                            <li class="list-group-item disabled col-7" aria-disabled="true">
                                Procedimento: {{ ficha.procedimento }}
                            </li>
                            <li class="list-group-item disabled col-12" aria-disabled="true"></li>
                        {% endfor %}
                    </div>
                    <div class="row">
                        {% for observacoes in animal.observacoes %}
                            <li class="list-group-item disabled col-5" aria-disabled="true">
                                Data observação: {{ observacoes.data_observacao }}
                            </li>
                            <li class="list-group-item disabled col-7" aria-disabled="true">
                                Observação: {{ observacoes.observacao }}
                            </li>
                            <li class="list-group-item disabled col-12" aria-disabled="true"></li>
                        {% endfor %}
                    </div>
                    <div class="row">
                        {% for ecdises in animal.ecdises %}
                            <li class="list-group-item disabled col-5" aria-disabled="true">
                                Data ecdise: {{ ecdises.data_ecdise }}
                            </li>
                            <li class="list-group-item disabled col-3" aria-disabled="true">
                                Classe: {{ ecdises.classe }}
                            </li>
                            <li class="list-group-item disabled col-4" aria-disabled="true">
                                Ecdise: {{ ecdises.ecdise }}
                            </li>
                            <li class="list-group-item disabled col-12" aria-disabled="true"></li>
                        {% endfor %}
                    </div>
                    <div class="row">
                        {% for morfometrias in animal.morfometrias %}
                            <li class="list-group-item disabled col-5" aria-disabled="true">
                                Data medição: {{ morfometrias.data_medicao }}
                            </li>
                            <li class="list-group-item disabled col-7" aria-disabled="true">
                                Observação: {{ morfometrias.observacao }}
                            </li>
                            <li class="list-group-item disabled col-3" aria-disabled="true">
                                Classe: {{ morfometrias.classe }}
                            </li>
                            <li class="list-group-item disabled col-3" aria-disabled="true">
                                Peso: {{ morfometrias.peso }}
                            </li>
                            <li class="list-group-item disabled col-3" aria-disabled="true">
                                Comprimento cabeça: {{ morfometrias.comp_cabeca }}
                            </li>
                            <li class="list-group-item disabled col-3" aria-disabled="true">
                                Altura da orelha: {{ morfometrias.altura_orelha }}
                            </li>
                            <li class="list-group-item disabled col-3" aria-disabled="true">
                                Comprimento corpo: {{ morfometrias.comp_corpo }}
                            </li>
                            <li class="list-group-item disabled col-3" aria-disabled="true">
                                Comprimento da mão: {{ morfometrias.comp_mao }}
                            </li>
                            <li class="list-group-item disabled col-3" aria-disabled="true">
                                Comprimento da calda: {{ morfometrias.comp_calda }}
                            </li>
                            <li class="list-group-item disabled col-3" aria-disabled="true">
                                Comprimento fêmur: {{ morfometrias.comp_femur }}
                            </li>
                            <li class="list-group-item disabled col-3" aria-disabled="true">
                                Comprimento tíbia: {{ morfometrias.comp_tibia }}
                            </li>
                            <li class="list-group-item disabled col-3" aria-disabled="true">
                                Comprimento pernas: {{ morfometrias.comp_pernas }}
                            </li>
                            <li class="list-group-item disabled col-3" aria-disabled="true">
                                Comprimento do tarso: {{ morfometrias.comp_tarso }}
                            </li>
                            <li class="list-group-item disabled col-3" aria-disabled="true">
                                Comprimento do pé: {{ morfometrias.comp_pe }}
                            </li>
                            <li class="list-group-item disabled col-6" aria-disabled="true">
                                Comprimento pedipalpos: {{ morfometrias.comp_pedipalpos }}
                            </li>
                            <li class="list-group-item disabled col-6" aria-disabled="true">
                                Comprimento rostro-cloacal: {{ morfometrias.comp_rosto_cloacal }}
                            </li>
                            <li class="list-group-item disabled col-6" aria-disabled="true">
                                Distância entre olho-narina: {{ morfometrias.dist_olho_narina }}
                            </li>
                            <li class="list-group-item disabled col-6" aria-disabled="true">
                                Comprimento rostro-anal: {{ morfometrias.comp_rosto_anal }}
                            </li>
                            <li class="list-group-item disabled col-4" aria-disabled="true">
                                Comprimento da asa: {{ morfometrias.comp_asa }}
                            </li>
                            <li class="list-group-item disabled col-4" aria-disabled="true">
                                Comprimento do bico: {{ morfometrias.comp_bico}}
                            </li>
                            <li class="list-group-item disabled col-4" aria-disabled="true">
                                Altura do bico: {{ morfometrias.altura_bico }}
                            </li>
                            <li class="list-group-item disabled col-12" aria-disabled="true"></li>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <li class="list-group-item disabled col-4" aria-disabled="true">
                            Município: {{ animal.relatorio.local_resgate.municipio }}
                        </li>
                        <li class="list-group-item disabled col-6" aria-disabled="true">
                            Rua: {{ animal.relatorio.local_resgate.endereco.rua }}
                        </li>
                        <li class="list-group-item disabled col-2" aria-disabled="true">
                            Numero: {{ animal.relatorio.local_resgate.endereco.numero }}
                        </li>
                        <li class="list-group-item disabled col-4" aria-disabled="true">
                            Bairro: {{ animal.relatorio.local_resgate.endereco.bairro }}
                        </li>
                        <li class="list-group-item disabled col-4" aria-disabled="true">
                            Complemento: {{ animal.relatorio.local_resgate.endereco.complemento }}
                        </li>
                        <li class="list-group-item disabled col-4" aria-disabled="true">
                            Área Resgate: {{ animal.relatorio.local_resgate.area_resgate }}
                        </li>
                        <li class="list-group-item disabled col-3" aria-disabled="true">
                            Logitude: {{ animal.relatorio.local_resgate.longitude }}
                        </li>
                        <li class="list-group-item disabled col-3" aria-disabled="true">
                            Latitude: {{ animal.relatorio.local_resgate.latitude }}
                        </li>
                        <li class="list-group-item disabled col-6" aria-disabled="true">
                            Boletim de ocorrência: {{ animal.relatorio.bo }}
                        </li>
                        <li class="list-group-item disabled col-6" aria-disabled="true">
                            Termo de destinação: {{ animal.relatorio.termo_destinacao }}
                        </li>
                        <li class="list-group-item disabled col-6" aria-disabled="true">
                            Motivo: {{ animal.relatorio.motivo.descricao }}
                        </li>
                        <li class="list-group-item disabled col-5" aria-disabled="true">
                            Origem: {{ animal.relatorio.origem.descricao }}
                        </li>
                        <li class="list-group-item disabled col-7" aria-disabled="true">
                            Observação: {{ animal.relatorio.observacao}}
                        </li>
                        <li class="list-group-item disabled col-12" aria-disabled="true"></li>
                    </div>
                    <div class="row">
                        <li class="list-group-item disabled col-6" aria-disabled="true">
                            Nome do doador: {{ animal.doador.nome }}
                        </li>
                        <li class="list-group-item disabled col-6" aria-disabled="true">
                            Telefone de contato do doador: {{ animal.doador.telefone }}
                        </li>
                    </div> 
                </div> 
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}