.sisnat-color {
    color: #416e3b;
}

.icon-color {
    color: #ffffff; 
}

.link-color:hover {
    color: #1b340c;
}

.btn-outline-primary {
    color: #ffffff; 
    border: 1px solid #ffffff;
}

.btn-outline-primary:hover {
    background-color: #1b340c;
    border-color: #1b340c; 
}

.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(27, 52, 12, 0.502);
}
.btn-outline-primary:active:focus {
    box-shadow: 0 0 0 0.25rem rgba(27, 52, 12, 0.502);
}

.help {
    color: #ffffff;
}

.help:hover {
    color: #1b340c;
}

.header-color {
    background-color: #416e3be8;
}

.footer-color {
    background-color: #1b340c;
}   

.card-opacity:hover {
    opacity: 0.8;
}